/* FONTS */
@font-face {
    font-family: "OswaldMedium";
    src: url("../src/fonts/OswaldMedium.ttf");
}

@font-face {
    font-family: "OswaldRegular";
    src: url("../src/fonts/OswaldRegular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../src/fonts/RobotoBold.ttf");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../src/fonts/RobotoMedium.ttf");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../src/fonts/RobotoRegular.ttf");
}

/* BODY */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("../src/image/banner-overlay-img.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0A1650;
    font-family: "RobotoRegular";
}

/* HEADER */


/* MAIN */
h1 {
    color: #FFFFFF;
    font-size: 54px;
    font-family: "RobotoBold";
}

h2 {
    color: #FFFFFF;
    font-size: 38px;
}

h3 {
    color: #51B2E7;
    font-family: "RobotoRegular";
    font-size: 15px;
    font-weight: 100;
}

p {
    color: #95ABDD;
    font-size: 15px;
    line-height: 25px;
}

/* WHO WE ARE */
.whoweare {
    background-color:#0A1650;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 20%;
}
.whoweareImage img {
    height: 450px;
    margin-right: 70px;
}

.whoweareText{
    /* font-size:xx-small; */
    /* background-color:red; */
    display: flex;
    flex-direction: column; 
     
}
/* .pwho{
    font-size: 13px;
       
} */
.h1WHO{
    font-size: 35px;
}
.whowearelist li{
    list-style: circle;
    color: #95ABDD;
}
/* WHAT WE DO */
.whatwedo {

}

/* RELIABLE IT */
.reliableit {

}

/* STATISTICS */
.statistics {

}

/* OUR NEWS */
.ournews {

}

/* GET IN TOUCH */
.getintouch {

}

/* FOOTER */
footer {

}

/* RESPONSIVE */
/* SMARTPHONE */
@media (max-width: 576px) {

}

/* TABLET */
@media (min-width: 577px) and (max-width: 768px) {
    
}

/* DESKTOP */
@media (min-width: 769px) and (max-width: 992px) {
    
}

/* BIG DESKTOP */
@media (min-width: 993px) {

}