/* ########### FONTS ############ */
@font-face {
    font-family: "OswaldMedium";
    src: url("../assets/fonts/OswaldMedium.ttf");
}

@font-face {
    font-family: "OswaldRegular";
    src: url("../assets/fonts/OswaldRegular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../assets/fonts/RobotoBold.ttf");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../assets/fonts/RobotoMedium.ttf");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../assets/fonts/RobotoRegular.ttf");
}

/* ############ BODY ############  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #0A1650;
    font-family: "RobotoRegular";
}

h1 {
    color: #FFFFFF;
    font-family: "RobotoBold";
    font-size: 51px;
    line-height: 64px;
}

p {
    color: #91B4F1;
    font-family: "RobotoRegular";
    font-size: 14px;
    line-height: 24px;
}

/* ########### HEADER ########### */
header {
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/image/banner-overlay-img.png");
    background-position: 0 -45px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ### NAVBAR ### */
.nav-bar {
    width: 100%;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    list-style: none;
    position: relative;
}

.logo img {
    height: 140px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #0AD3EF;
}

.menu button {
    background-color: #0AD3EF;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 136px;
    cursor: pointer;
    color: #FFFFFF;
    border: 2px solid #0AD3EF;
    font-family: "RobotoRegular";
    font-size: 14px;
    transition: all 0.3s ease;
}

.menu button:hover {
    background-color: transparent;
}

.open-menu, .close-menu {
    position: absolute;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        width: 45%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #0A1650;
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
        padding: 0;
    }
    .menu li a {
        padding: 10px;
        border-radius: 5px;
    }
    .open-menu, .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        width: 45%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #0A1650;
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
        padding: 0;
    }
    .menu li a {
        padding: 10px;
        border-radius: 5px;
    }
    .open-menu, .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

/* BANNER */
.banner {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-left: 295px;
    margin-top: 61px;
}

.bannerText {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.bannerTextButton {
    display: flex;
    justify-content: left;
    gap: 12px;
    padding-top: 18px;
}

.bannerTextButton button {
    background-color: #0AD3EF;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 136px;
    cursor: pointer;
    border: 2px solid #0AD3EF;
    transition: all 0.3s ease;
}


.bannerTextButton button:hover {
    background-color: transparent;
}

.bannerTextButton #darkButton {
    background-color: #2052A1;
    border: 2px solid #2052A1;
}

.bannerTextButton #darkButton:hover {
    background-color: transparent;
}

.bannerTextButton button a {
    font-family: "RobotoRegular";
    font-size: 14px;
    color: #FFFFFF;
}

.bannerImage img {
    height: 445px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
    header {
        height: 120vh;
    }
    .banner {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-left: 20px;
    }
    .bannerText {
        width: 350px;
    }
    .bannerImage img {
        width: 350px;
        height: auto;
    }
}

/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
    header {
        height: 110vh;
    }
    .banner {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .bannerImage img {
        width: 440px;
        height: auto;
    }
}

/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 120vh;
    }
    .banner {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

/* ### BIG DESKTOP ### */
@media (min-width: 1025px) {

}

/* ############ MAIN ############ */


/* ########### FOOTER ########### */


/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {

}

/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {

}

/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 992px) {

}

/* ### BIG DESKTOP ### */
@media (min-width: 993px) {

}