/* ########### FONTS ############ */
@font-face {
    font-family: "OswaldMedium";
    src: url("../assets/fonts/OswaldMedium.ttf");
}

@font-face {
    font-family: "OswaldRegular";
    src: url("../assets/fonts/OswaldRegular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../assets/fonts/RobotoBold.ttf");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../assets/fonts/RobotoMedium.ttf");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../assets/fonts/RobotoRegular.ttf");
}

/* ############ BODY ############  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

/* ########### HEADER ########### */


/* ############ MAIN ############ */


/* ########### FOOTER ########### */


/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {

}

/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {

}

/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 992px) {

}

/* ### BIG DESKTOP ### */
@media (min-width: 993px) {

}